@inherits LayoutComponentBase

<CascadingValue Value="LocalCart">
    <NavMenu />
</CascadingValue>
<div class="main">
    <div class="content px-4">
        <CascadingValue Value="event_notify">
            @Body
        </CascadingValue>
    </div>
</div>
@code{
    [Inject] ICart carteService { get; set; }
    [Inject] IProduct productService { get; set; }
    private Cart LocalCart { get; set; }
    private IEnumerable<Product> Products { get; set; }
    EventCallback event_notify => EventCallback.Factory.Create(this, NotifyLayout);

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await NotifyLayout();
        }
        await base.OnAfterRenderAsync(firstRender);
    }
    private async Task NotifyLayout()
    {
        LocalCart = await carteService.InitializeShoppingCart();
        await InvokeAsync(StateHasChanged);
    }

}
