@inherits LayoutComponentBase
     <CascadingValue Value="LocalCart">
        <NavMenu />
    </CascadingValue>
 <div class="main">
    <div class="content px-4">
        <CascadingValue Value="event_notify">
            @Body
        </CascadingValue>
    </div>
</div>
@code{
    [Inject] ICart carteService { get; set; }
    protected Cart LocalCart { get; set; }
    EventCallback event_notify => EventCallback.Factory.Create(this, NotifyLayout);
    private async Task NotifyLayout()
    {
        LocalCart = await carteService.InitializeShoppingCart();
        if (LocalCart != null)
        {
            StateHasChanged();
        }
    }
    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await NotifyLayout();

        }
    }
}
