/*Global*/
* ::after ::before {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

* {
    font-family: 'Kaushan Script';
    letter-spacing: 1.2px;
    font-weight: 400;
}

html {
    position: relative;
    min-height: 100%;
}

ul {
    list-style: none;
}

.btnRadius {
    border-radius: 1.5rem;
    border: none;
    padding: 12px;
}

.btnRadiusBorderOn {
    border-radius: 1.5rem;
    padding: 12px;
}

a {
    color: black;
    text-decoration: none;
}

    a:hover {
        text-decoration: none;
    }

.more {
    border-radius: 1.5rem;
    padding: 12px;
    transition: box-shadow all 1s ease-out;
    transition: background-color 0.5s ease-out;
}

    .more:hover {
        box-shadow: 0 .25rem .75rem black;
        transition: background-color 0.5s;
    }
/*navBar*/
.liCategory {
    text-align: center;
}

.liPage {
    width: 120px;
    text-align: center;
}

    .liPage:hover {
        background-color: grey;
    }

.ulCategories {
    width: 110px;
}


.imgLogo {
    height: 95px;
}

.inputSearch {
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: none;
    border-top: 1px solid lightgray;
    width: 100%;
}

.btnSearch {
    border-bottom: 1px solid lightgray;
    padding: 5px 10px;
    text-decoration: none;
    background-color: white;
    border-top: 1px solid lightgray;
    border-left: none;
    border-right: 1px solid lightgray;
    color: grey;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}
/*basket*/
.basketEmpty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.tableBasket {
    border: none;
}

.trBasket {
    background-color: rgba(114, 123, 64, 0.70);
    border: 5px solid white;
}

.tdBasket {
    padding: 15px;
}

#sectionBasket {
    margin-bottom: 347px;
}
/*search*/
#sectionSearch {
    margin-top: 150px;
}

.SearchEmpty {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
