@{
    ViewData["Title"] = "Index";
}


<section id="sectionAdmin">

    <div class="containerTitleAdmin ">

        <div class="ItemIndex ">
            <a asp-controller="Category" asp-action="Index">Gestion des categories</a>
        </div>
        <div class="ItemIndex">
            <a asp-controller="Product" asp-action="Index" class="linkIndexAdmin">Gestion des articles</a>
        </div>
        <div class="ItemIndex">
            <a asp-controller="Provider" asp-action="Index" class="linkIndexAdmin">Mes fournisseurs</a>
        </div>
        <div class="ItemIndex">
            <a asp-controller="Invoices" asp-action="Index" class="linkIndexAdmin">Mes Ventes</a>
        </div>
        <div class="ItemIndex">
            <a asp-controller="Roles" asp-action="Index" class="linkIndexAdmin">Gestion de rôles</a>
        </div>
        <div class="ItemIndex">
            <a asp-controller="Order" asp-action="Index" class="linkIndexAdmin">Gestion de commandes</a>
        </div>
        <div class="ItemIndex">
            <a href="https://localhost:44364/" class="linkIndexAdmin">Vertus Naturelles</a>
        </div>
    </div>

</section>

 