@page "/Boutique"
<section class="container-fluid">
    @if (ProductsIncludePictures != null)
    {
        @foreach (var c in categories.ToList())
        {
            <p>@c.CategoryName</p>
            <div class="containerCard">
                @foreach (var product in ProductsIncludePictures.Where(a => a.IdCategory_Fk == c.IdCategory).ToList())
                {
                         <ProductComponent idProduct="@product.IdProduct" />
                 }
            </div>

        }
    }
</section>
@code{   

    [Inject] IProduct productService { get; set; }
    [Inject] ICategory categoryService { get; set; }
    private IEnumerable<Product> ProductsIncludePictures { get; set; }
    private IEnumerable<Category> categories { get; set; }
    protected override async Task OnInitializedAsync()
    {
        ProductsIncludePictures = await productService.GetAllProductsIncludePicturesAsync();
        categories = await categoryService.GetAllCategoryAsync();
        await base.OnInitializedAsync();
    }


}