@page "/Boutique"
<section class="container-fluid">
    @if (boutiqueVm.ProductsIncludePictures != null)
    {
        @foreach (var c in boutiqueVm.categories)
        {
            <p>@c.CategoryName</p>
            <div class="containerCard">
                @foreach (var product in boutiqueVm.ProductsIncludePictures.Where(a => a.IdCategory_Fk == c.IdCategory).ToList())
                {
                         <ProductComponent idProduct="@product.IdProduct" />
                 }
            </div>

        }
    }
</section>
@code{   

    [Inject] IProduct productService { get; set; }
    [Inject] ICategory categoryService { get; set; }
    private BoutiqueVm boutiqueVm = new BoutiqueVm();
   
    protected override async Task OnInitializedAsync()
    {
        boutiqueVm.ProductsIncludePictures = await productService.GetAllProductsIncludePicturesAsync();
        boutiqueVm.categories = await categoryService.GetAllCategoryAsync();
        await base.OnInitializedAsync();
    }


}