@page "/"

<section class="container-fluid">
    @if (ProductsIncludePictures != null)
    {
        <div class="containerCard">
            @foreach (var product in ProductsIncludePictures.ToList())
            {
                <ProductComponent product="product" />
            }
        </div>
    }
    else
    {
        <p class="d-flex align-self-center justify-content-center" style="height:80vh;">
            <Loader></Loader>
        </p>
    }
</section>
@code{
    [CascadingParameter]
    private EventCallback notify { get; set; }
    [Inject] IProduct productService { get; set; }
    private IEnumerable<Product> ProductsIncludePictures { get; set; }
   

    protected override async Task OnInitializedAsync()
    {
        ProductsIncludePictures = await productService.GetAllProductsIncludePicturesAsync();
        await base.OnInitializedAsync();
    }
    
 
}

