@page "/"

<section class="container-fluid">
    @if (indexVm.ProductsIncludePictures != null)
    {
        <div class="containerCard">
            @foreach (var product in indexVm.ProductsIncludePictures.ToList())
            {
                <ProductComponent idProduct="@product.IdProduct" />
            }
        </div>
    }
    else
    {
        <p class="d-flex align-self-center justify-content-center" style="height:80vh;">
            <Loader></Loader>
        </p>
    }
</section>
@code{
    [Inject] IProduct productService { get;  set; }
    private IndexVm indexVm = new IndexVm();
    protected override async Task OnInitializedAsync()
    {
        indexVm.ProductsIncludePictures = await productService.GetAllProductsIncludePicturesAsync();
        await base.OnInitializedAsync();
    }
}

