@using Domains;
@if (LocalCart != null)
{
    <div class="text-light ">
        @foreach (var cartItem in LocalCart.ListProducts)
        {

            <p>
                @cartItem.ProductName
               <span>Qte:</span> @cartItem.ProductQuantity
            </p>

        }
    </div>

    @if (LocalCart.ListProducts.Count() <= 0)
    {
        <span class="text-light"> 0</span>
    }




}
else
{ <span class="text-light">0</span>


}


@code{


    [Parameter] public Cart LocalCart { get; set; }



} 