@using Domains;
@implements IDisposable
@if (LocalCart != null)
{
    @foreach (var cartItem in LocalCart.ListProducts)
    {
        <p>
            @cartItem.ProductName
            @cartItem.ProductQuantity
        </p>

    } if (LocalCart.ListProducts.Count() <= 0)
    {
        <span>0</span>
    }





}
else
{ <span>0</span>


}




<p>

</p>
@code{


    [Parameter] public Cart LocalCart { get; set; }

    public void Dispose()
    {


    }

} 