@if (categories != null)
{
    @foreach (var category in categories)
    {
        <li class="nav-item liCategory">
            <a href="/Category/@category.IdCategory">@category.CategoryName</a>
        </li>
    }
}

@code {
    [Inject] public ICategory categoryService { get; set; }

    public IEnumerable<Domains.Category> categories { get; set; }
    protected override async Task OnInitializedAsync()
    {
        categories = await categoryService.GetAllCategoryAsync();
    }
}
